{% load static %}

{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
   

    {%if title%}

    <title>{{title}}</title>

    {%endif%}

    {% block styles %}
    {% bootstrap_css %}
    <script src="https://kit.fontawesome.com/83d474e45f.js" crossorigin="anonymous"></script>
    
    {% endblock %}
    
  
 
</head>

<body>

    {% block content %} {%endblock%}


    {% block scripts %}
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %}"></script>
    
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>