{%extends "forms/base.html"%}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

<style>
     body{
        padding: 0;
        margin: 0;
        background-image: url('https://res.cloudinary.com/auca/image/upload/v1645917945/7_x8uytj.png');
        background-size: cover;
        background-repeat: no-repeat;

    }
    .div{
    border-left: 2px solid rgb(148, 148, 148);
    height: 520px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 60px;
}
    h3{
        color: white; 
        margin-left: 1%;
        font-family: 'Spartan', sans-serif;
    }
    p{
      font-family: 'Spartan', sans-serif;
    }
  
    form{
      color: white;
  
    }
    form input{
      width: 50%;
      overflow: hidden;
      font-size: 10px;
      padding: 5px 0;
      margin:  5px 0;
      border-bottom: 1px solid;
      font-family: 'Spartan', sans-serif;
    }
    
      
  
  </style>

  <div class=" container">
    <div class="row">
      <!-- Empty div -->
      <div class="col-md-4"></div>
      <div class="col-md-4">
        
        <div class="panel panel-default" style="margin-top: 35%">
  
          <div class="panel-heading">
            <h3 style="text-align: center;"><strong>Add Product</strong></h3>
            <hr style="width: 20%; border: 2px solid #0e9402;" >
          
          </div>
         
          <div class="panel-body">
  <div class=" login col-md-20">
  
  
    <form method="POST" enctype="multipart/form-data">
             <!-- Security token -->
        {% csrf_token %}
     
        <!-- Using the formset -->
        {% bootstrap_form form%}
  
              <div class="form-group">
                <input type="submit" class="btn btn-success btn-lg btn-block" style="color: white;" value="Add Product">
              
  
               <input class="form-control" type="hidden" name="next" value="{{next}}"> 

            </form>
          </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}