{% extends "base.html" %}
{% block content %}

<style>

    .main
    {
        margin-top: 150px;
        text-align: center;
    }
    .delete_title{
        font-size: 30px;
        font-family: 'Kumbh Sans', sans-serif;
    }
</style>
<hr>
<div class="main card-body">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <p class="delete_title">Are you want to delete this item ?</p>
        <input type="submit" value="Yes" class="btn btn-warning">
        <a href="/dashboard" class="btn btn-success">Cancel </a>
    </form>
</div>
{% endblock %}